 body{
    background-image: url(Image1.webp);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    font-family: sans-serif;
    padding: 20px;
 }
 h2,h3{
    font-family: Impact,serif;
    text-align: center;
 }
 .est{
    font-style: italic;
 }
 .main{
    background-color: burlywood;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
    width: 80%;
 }
 h2{
    font-size: 40px;
    text-align: center;
 }
 h3{
    font-size: 30px;
 }
 .flavors{
    text-align: left;
    width: 75%;
    display: inline-block;
 }
 .prices{
    text-align: right;
    width: 25%;
    display: inline-block;
 }
 hr{
    background-color: brown;
    border-color: brown;
    height: 2px;
 }